body {
    background-color: whitesmoke;
    justify-content: center;
}

header {
    margin: auto;
    height: 15vh;
    width: 95vw;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Header-components {
    margin: 10px;
    height: 100%;
    background-color: lightgreen;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar-div {
    width: 40vw;
}

#searchBar {
    height: 25px;
    width: 90%;
}

.Interactive-header-div {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    width: 100%;
    /* background-color: red; */
    font-size: 40px;
    font-variant: small-caps;
    text-align: left;
    font-weight: bold;
}


/* 21:10 */